<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Email Marketing với SPARKPOST<small> Gửi những mẫu email tới người đăng ký nhận bản tin.</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>-->
        </div>
</div>


<div class="row">
    <md-card class="example-card">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Tạo chiến dịch mới</md-card-title>
            <md-card-subtitle>Lựa chọn mẫu email phù hợp để gửi tới nhóm người đọc</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="">
        <md-card-content [formGroup]="campainForm">
            <md-form-field class="example-half-width">
                <input mdInput placeholder="Tên chiến dịch" formControlName="campainID">
            </md-form-field>
            <md-select class="email-width" placeholder="Mẫu thư" formControlName="templateID">
                <md-option *ngFor="let template of templates | async" [value]="template.id">
                {{ template.name }}
                </md-option>    
            </md-select>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="sendCampain()">Gửi chiến dịch</button>
        </md-card-actions>
    </md-card>
</div>

<div class="row loader" *ngIf="loading">
    <app-admin-loader></app-admin-loader>
</div>