<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FAQ <small> Câu hỏi và trả lời thường gặp.</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>-->
        </div>
</div>
<div [formGroup]="faqForm" *ngIf="faq | async; let questions">
    <div class="row" formArrayName="faqFormArray">
        <div class="col-lg-12" *ngFor="let question of faqFormArray.controls; let i=index" [appMakeDraggable]="question.value" appMakeDroppable (dropped)="onDrop($event, question.value)">
            <md-card class="example-card" [formGroupName]="i">
                <md-form-field>
                    <input mdInput placeholder="Câu hỏi" formControlName="question" (blur)="updateFaq(i,question.value)">
                    <md-icon class="fa fa-times-circle-o fa-2x" aria-hidden="true" (click)="deleteFaq(i)"></md-icon>
                </md-form-field>
                <md-form-field>
                    <textarea mdInput placeholder="Trả lời" formControlName="answer" #url (blur)="updateFaq(i,question.value)"></textarea>
                </md-form-field>
            </md-card>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
                <button md-button color="primary" (click)="addFaq()">
                    <md-icon class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></md-icon> Thêm câu hỏi
                </button>
        </div>
    </div>
</div>

