<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Cài đặt website <small> điền thông tin cơ bản để mô tả về website của bạn.</small>
        </h1>
    </div>
</div>

<div class="full-width-input">
  <div class="row" [formGroup]="settingForm" *ngIf="adminComponentService.getSetting() | async">
    <div class="col-md-6 vr">
       <div class="row">
        <div class="col-lg-12">
          <md-form-field class="slogan" (click)="triggerInformationCard('slogan')">
            <input mdInput placeholder="Khẩu hiệu" formControlName="slogan" >
          </md-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <md-form-field class="contact" (click)="triggerInformationCard('contact')">
            <input mdInput placeholder="Liên hệ" formControlName="contact" >
          </md-form-field>
        </div>
      </div>
      
      <div class="row"formGroupName="metaTags">
        <div class="col-lg-12">
          <md-form-field class="title" (click)="triggerInformationCard('title')">
            <input mdInput placeholder="Tên trang web" formControlName="title" >
          </md-form-field>
        </div>
        <div class="col-lg-12">
          <md-form-field class="description" (click)="triggerInformationCard('description')">
            <input mdInput placeholder="mô tả trang web" formControlName="description" >
          </md-form-field>
        </div>
        <div class="col-lg-12">
          <md-form-field class="keywords" (click)="triggerInformationCard('keywords')">
            <input mdInput placeholder="Từ khóa dành cho trang web" formControlName="keywords" >
          </md-form-field>
        </div>
        <div class="col-lg-12">
          <md-form-field class="author" (click)="triggerInformationCard('author')">
            <input mdInput placeholder="tác giả trang web" formControlName="author" >
          </md-form-field>
        </div>
      </div>
     
        
    </div>
    <div class="col-md-6 vr-o">
      <md-card>
         <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title><h3>{{informationCard?.name}}</h3></md-card-title>
          <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
        </md-card-header>
        <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
        <md-card-content>
          <p>
            {{informationCard?.description}}
          </p>
        </md-card-content>
        <!--<md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>-->
      </md-card>
    </div>
  </div>
</div>

<button md-raised-button color="primary" (click)="sendSetting()">Lưu cấu hình</button>

