<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" *ngIf="adminComponentService.getSetting() | async; let setting">{{setting.titleTag}}</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Quyền Anh</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Quyền Anh</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Quyền Anh</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>-->
            <li class="dropdown" *ngIf="authService.user | async as user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" ></i> {{user.displayName || user.email}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!-- <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Hồ sơ</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Tin nhắn</a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/admin/profile']"><i class="fa fa-fw fa-gear"></i>Hồ sơ về bạn</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a (click)="authService.logout()"><i class="fa fa-fw fa-power-off"></i> Thoát</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li [routerLink]="['/admin/dashboard']" routerLinkActive="active" >
                    <a ><i class="fa fa-fw fa-dashboard"></i> Tổng quan</a>
                </li>
                <li class="disabled">
                    <a><h4>Nội dung</h4></a>
                </li>
                <li [routerLink]="['/admin/post-new']" routerLinkActive="active">
                    <a><i class="fa fa-fw fa-edit"></i> Bài viết mới</a>
                </li>
                <li [routerLink]="['/admin/post-list']" routerLinkActive="active">
                    <a ><i class="fa fa-fw fa-table"></i> Danh sách bài viết</a>
                </li>
                 <li [routerLink]="['/admin/category-list']" routerLinkActive="active">
                    <a ><i class="fa fa-fw fa-cubes"></i> Danh sách danh mục</a>
                </li>
                <li class="disabled">
                    <a><h4>Cài đặt</h4></a>
                </li>
                <li [routerLink]="['/admin/setting-website']" routerLinkActive="active">
                    <a><i class="fa fa-fw fa-gear"></i> Cài đặt website</a>
                </li>
                <li routerLinkActive="active" >
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-wrench"></i> Cài đặt trang chủ<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li routerLinkActive="active"  [routerLink]="['/admin/navbar-setting']">
                            <a>Navbar</a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['/admin/slider-setting']">
                            <a>Slider</a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['/admin/footer-setting']">
                            <a>Footer</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active" >
                    <a href="javascript:;" data-toggle="collapse" data-target="#sidebar"><i class="fa fa-fw fa-wrench"></i> Cài đặt sidebar<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="sidebar" class="collapse">
                        <li routerLinkActive="active"  [routerLink]="['/admin/faq']">
                            <a>FAQ</a>
                        </li>
                        <!-- <li routerLinkActive="active" [routerLink]="['/admin/slider-setting']">
                            <a>Slider</a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['/admin/footer-setting']">
                            <a>Footer</a>
                        </li> -->
                    </ul>
                </li>
                <li class="disabled">
                    <a><h4>Phản hồi</h4></a>
                </li>
                <li [routerLink]="['/admin/valuation']" routerLinkActive="active">
                    <a><i class="fa fa-fw fa-bullhorn"></i> Đánh giá</a>
                </li>
                <li [routerLink]="['/admin/fix-bug']" routerLinkActive="active">
                    <a ><i class="fa fa-fw fa-bug"></i> Đề nghị sửa lỗi</a>
                </li>
                <li [routerLink]="['/admin/request-feature']" routerLinkActive="active">
                    <a ><i class="fa fa-fw fa-code-fork"></i> Yêu cầu tính năng</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    
    <!-- #page-wrapper --> 
    <div id="page-wrapper">
        <!-- .container-fluid -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!--row....-->
            <!--<router-outlet name="popup"></router-outlet>-->
            <router-outlet class="admin-outlet"></router-outlet>
            

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper --> 
 
 
    

</div>
<!-- /#wrapper -->