	<aside class="col-md-4 w3agile_blog_left">
				<div class="agileits_search" *ngIf="admin | async; let admin">
					<form action="#" method="post">
						<input class="email" type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="agile_author" *ngIf="admin | async; let admin">
					<h3>Về tác giả</h3>
					<div class="agile_author_grid">
						<div [froalaView]="admin.aboutAuthor"></div>
						<div class="agile_author_grid_pos" [routerLink]="['/about']">
							<img [src]="admin.image.url" [alt]="admin.image.name" class="img-responsive pointer" />
						</div>
					</div>
				</div>

				<div class="w3l_categories" *ngIf="categories | async; let categories">
					<h3>Danh mục</h3>
					<ul>
						<li *ngFor="let category of categories"><a [routerLink]="'/'+[category.url]"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>{{category.name}}</a></li>
					</ul>
				</div>
				<div class="wthree_faq"  *ngIf="faq | async; let questions">
					<h3>FAQ's</h3>
					<div class="panel-group wthree_panel" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default" *ngFor="let question of questions; let i = index">
							<div class="panel-heading" role="tab" [id]="'heading'+i">
								<h4 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" [class.collapsed]="i != 0" [attr.aria-expanded]="i == 0 ? true: false" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										<i class="glyphicon glyphicon-minus" aria-hidden="true"></i> 
										{{question.question}}
									</a>
								</h4>
							</div>
							<div [id]="'collapse'+i" class="panel-collapse collapse" [class.in]="i==0" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
								<div class="panel-body panel_text">
									<p>{{question.answer}}</p>
								</div>
							</div>
					  </div>
					</div>
				</div>
				<div class="w3ls_recent_posts" *ngIf="mostViewPosts | async; let mostViewPosts">
					<h3>Bài viết được xem nhiều nhất</h3>
					<div class="agileits_recent_posts_grid" *ngFor="let post of mostViewPosts">
						<div class="agileits_recent_posts_gridl">
							<a [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]"><img [src]="post.postOption.image.url" [alt]="'lỗi ảnh bìa'" class="img-responsive"></a>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]">{{post.title}}</a></h4>
							<ul>
								<li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><a href="#">{{post.postInformation?.view || 0}}</a></li>
								<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{post.postOption.date | date}}</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="w3ls_recent_posts" *ngIf="recentPosts | async; let recentPosts">
					<h3>Bài viết gần đây</h3>
					<div class="agileits_recent_posts_grid" *ngFor="let post of recentPosts">
						<div class="agileits_recent_posts_gridl">
							<a [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]"><img [src]="post.postOption.image.url" [alt]="'lỗi ảnh bìa'" class="img-responsive"></a>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]">{{post.title}}</a></h4>
							<ul>
								<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">{{post.postInformation?.love || 0}}</a></li>
								<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{post.postOption.date | date}}</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				
			</aside>