<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cài đặt Navbar <small> Lựa chọn nội dung phù hợp trên navbar và đặt link tương ứng.</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>-->
        </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <md-tab-group>
            <md-tab *ngFor="let category of categoryList | async" [label]="category.name">
                <app-navbar-tab [category]="category"></app-navbar-tab>
            </md-tab>
            <!-- <md-tab label="Marketing">
                <app-navbar-tab tabName='marketing'></app-navbar-tab>
            </md-tab>
            <md-tab label="Sách">
                <app-navbar-tab tabName='book'></app-navbar-tab>
            </md-tab>
            <md-tab label="Video tạo động lực">
                <app-navbar-tab tabName='video'></app-navbar-tab>
            </md-tab> -->
        </md-tab-group>
    </div>
</div>