.example-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-card md-icon {
    position: absolute;
    right: -10px;
    top: -10px
}

.example-card md-form-field {
  width: 100%;
}

.contenteditable {
  background-color: #f1f1f1;
}

.contenteditable md-card-title, .contenteditable md-card-content{
  background-color: white;
  border: 1px solid #bdc7d8;
  padding: 0 5px;
}