.example-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
}

.example-card md-form-field {
  width: 100%;
}

.contenteditable {
  background-color: #f1f1f1;
}

.contenteditable md-card-title, .contenteditable md-card-content{
  background-color: white;
  border: 1px solid #bdc7d8;
  padding: 0 5px;
}

.hint {
  color: #d18181
}
