<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Danh mục <small> Quản lý các danh mục bài viết trên trang.</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>-->
        </div>
</div>
<div [formGroup]="categoriesForm" *ngIf="categories | async">
    <div class="row" formArrayName="categoriesFormArray">
        <div class="col-lg-12" *ngFor="let category of this.categoriesFormArray.controls; let i=index" [appMakeDraggable]="category.value" appMakeDroppable (dropped)="onDrop($event, category.value)">
            <md-icon class="fa fa-times-circle-o fa-2x delete-icon" aria-hidden="true" (click)="deleteCategory(i)"></md-icon>
            <md-card class="example-card" [formGroupName]="i">
                <md-form-field>
                    <input mdInput placeholder="Tên" formControlName="name"  (blur)="updateCategory(i,category.value)">
                </md-form-field>
                <md-form-field>
                    <input mdInput placeholder="Đường dẫn" formControlName="url" #url (blur)="updateCategory(i,category.value)">
                    <md-hint align="start" class="hint"><strong>Định dạng: https://quyenanhkt.com/{{url.value | slug}}</strong> </md-hint>
                </md-form-field>
                <md-form-field>
                    <textarea mdInput placeholder="Mô tả" formControlName="description" (blur)="updateCategory(i,category.value)"></textarea>
                </md-form-field>
                <md-slide-toggle formControlName="onNavbar" (change)="slideChange($event,i,category.value)">Hiển thị trên navbar</md-slide-toggle>
            </md-card>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
                <button md-button color="primary" (click)="addCategory()">
                    <md-icon class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></md-icon> Thêm danh mục
                </button>
        </div>
        <!-- <div class="col-lg-2">
                <button md-raised-button color="accent" (click)="saveCategory()">
                    <md-icon class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></md-icon> Lưu danh mục
                </button>
        </div> -->
    </div>
</div>

