<div class="login">
  <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<!-- <div class="row">
			<div class="col-lg-12">
			</div>
		</div> -->

		<button type="button" class="btn btn-default loginFacebook" (click)="loginFacebook()">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			Đăng nhập Facebook
			<!-- <i class="material-icons right"><lock_open></lock_open></i> -->
		</button>
		<button type="button" class="btn btn-default loginGoogle" (click)="loginGoogle()">
			<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			Đăng nhập Google
			<!-- <i class="material-icons right">lock_open</i> -->
		</button>
		
		<form class="form">
			<input type="text" placeholder="email@gmail.com" #username required>
			<input type="password" placeholder="Password" #password required>
			<button type="button" id="login-button" (click)="login(username.value,password.value)">Login</button>
		</form>
		<div class="spinner" [class.active]="loading">
			<md-spinner></md-spinner>
		</div>
	</div>
	


	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</div>