<div class="col-md-8 w3agile_blog_left">
  <div class="w3agile_blog_left_grid">
    <div class="w3agile_blog_left_grid_l">
      <p>tháng {{post.postOption.date | date:"M"}}</p> 
      <h4>Ngày {{post.postOption.date | date:"dd"}}</h4>  
      <p>{{post.postOption.date | date:"y"}}</p> 
    </div>
    <div class="w3agile_blog_left_grid_r">
      <h3>{{post.title}}<span>{{post.postOption.category}}</span></h3>
      <ul>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">{{post.postOption.author || 'admin'}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">{{post.postInformation?.love || 0}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">{{post.postInformation?.share || 0}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><a href="#">{{post.postInformation?.view || 0}}</a><i>|</i></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <div class="w3agile_blog_left_grid_sub">
      <img [src]="post.postOption.image.url" alt=" " class="img-responsive" />
    </div>

    <div class="w3agile_blog_left_grid_sub1">
      <div class="w3agile_blog_left_grid_sub1_pos">
        <img src="../../assets/images/quote.png" alt=" " class="img-responsive quote" />
        <p>{{post.subtitle}}</p>
      </div>
    </div>
    <div [froalaView]="post.content"></div>
  </div>
</div>