<div [formGroup]="parentForm">
    <div formGroupName="postOption">
        <div class="sidenav-post-option" [@postOptionState]="seoOpened" > 
            <!-- <h3>Thông tin bắt buộc phải có</h3> -->
            
            <!-- <hr> -->
            <!-- <h3>Thông tin không bắt buộc</h3> -->
            <!--SEO-->
            <button class="full-width seo-button" md-raised-button (click)="toogleSEO()">Tùy chỉnh SEO (tự động) <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>

            <!--DATE PICKER-->
            <md-form-field class="date-picker space-top">
                <input mdTooltip="Ngày tháng xuất bản của bài viết" mdInput [mdDatepicker]="picker" placeholder="Ngày xuất bản" formControlName="date">
                <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            </md-form-field>
            <md-datepicker #picker></md-datepicker>

            <!--UPLOAD IMAGE-->
            <app-upload-button mdTooltip="Ảnh bìa đại diện cho bài viết" [parentForm]="parentForm" [imageControlValue]="parentForm.get(['postOption','image']).value" [controlPlace]="['postOption','image']"></app-upload-button>


             <!--AUTHOR-->
            <!-- <md-select class="input-margin full-width" mdTooltip="Xác định tác giả bài viết là ai"  placeholder="Tác giả" formControlName="author" required="true">
                <md-option [value]="author">{{author}}</md-option>
            </md-select> -->
            <!-- <md-form-field>
                <input mdInput mdTooltip="tên tác giả được đặt theo tên hiển thị hoặc theo email"  placeholder="Tác giả" formControlName="author" required="true">
            </md-form-field> -->


            <!--TAGS-->
            <app-tag [parentForm]="parentForm"></app-tag>
            

            <!--URL EDIT-->
            <md-form-field>
                <input mdTooltip="Đường dẫn mặc định của bài viết, bạn cũng có thể chỉnh sửa theo ý mình" mdInput placeholder="Đường dẫn của bài viết" value="slug" formControlName="slug">
                <md-hint>https://quyenanhkt.com/{{parentForm.get(['postOption','category']).value }}/{{parentForm.get(['title']).value | slug }}</md-hint>
            </md-form-field>
        </div>

        <div class="sidenav-seo-option" [@seoState]="seoOpened" formGroupName="seo">
            <h4 (click)="toogleSEO()"><span>
                <i class="fa fa-chevron-circle-left" aria-hidden="true" mdTooltip="Cung cấp thông tin cần thiết để SEO bài viết" ></i>
                </span> Tùy chỉnh SEO (Meta tag)
            </h4>
            <md-form-field>
                <input mdInput mdTooltip="Meta tag title!" placeholder="Tiêu đề" value="" formControlName="title" >
            </md-form-field>
            <md-form-field>
                <input mdInput mdTooltip="Meta tag description" placeholder="Mô tả"value="" formControlName="description">
            </md-form-field>
            <md-form-field>
                <input mdInput mdTooltip="Meta tag keywords" placeholder="Từ khóa"value="" formControlName="keywords">
            </md-form-field>
            <md-form-field>
                <input mdInput mdTooltip="Meta tag author" placeholder="Tác giả"value="" formControlName="author">
            </md-form-field>
        </div>
    </div>
</div>

