<div class="full-width" [formGroup]="settingForm">
  <div class="col-lg-6">
     <md-form-field>
      <textarea rows="3" mdInput placeholder="Mô tả"  formControlName="description" required="true" (blur)="saveForm()"></textarea>
    </md-form-field>
  </div>

  <!-- <div class="col-lg-6" formArrayName='links'>
    <md-card class="example-card" *ngFor="let link of links.controls; let i=index" [formGroupName]="i">
    <md-form-field>
      <input mdInput placeholder="nội dung" formControlName="content">
      <md-icon class="fa fa-times-circle-o fa-2x" aria-hidden="true" (click)="deleteLink(i)"></md-icon>
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="địa chỉ đường dẫn" formControlName="url">
    </md-form-field>
  </md-card> 

  <div class="col-md-12">
      <button md-button color="primary" (click)="addLink()">
      <md-icon class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></md-icon> Thêm link
    </button> 
      <md-icon class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></md-icon> Lưu tab
    </button>
  </div>

    <div class="col-lg-12">
    settingForm {{settingForm.value | json}}
  </div> 
</div> -->
  <!-- <button md-raised-button color="accent" (click)="saveForm()">Lưu cấu hình</button>  -->
</div> 

