<article class="w3agile_blog_left_grid">
  <header>
    <div class="w3agile_blog_left_grid_l">
      <p>tháng {{post.postOption.date | date:"MM"}}</p> 
      <h4>Ngày {{post.postOption.date | date:"dd"}}</h4>  
      <p>{{post.postOption.date | date:"y"}}</p> 
    </div>
    <div class="w3agile_blog_left_grid_r">
      <a [href]="'/'+post.postOption.category+'/'+post.postOption.slug" [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]">
        <h3 [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]"><span>{{post.postOption.category}}</span>{{post.title}}</h3>
      </a>
      <ul>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">{{post.postOption.author || 'admin'}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">{{post.postInformation?.love || 0}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">{{post.postInformation?.share || 0}}</a><i>|</i></li>
        <li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><a href="#">{{post.postInformation?.view || 0}}</a><i>|</i></li>
      </ul>
    </div>
  </header>
  <div class="clearfix"> </div>
  <section>
    <div class="w3agile_blog_left_grid_sub">
      <a [href]="'/'+post.postOption.category+'/'+post.postOption.slug" [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]">
        <img [src]="post.postOption.image.url" alt=" " class="img-responsive"/>
      </a>
    </div>
    <div class="w3agile_blog_left_grid_sub1">
      <!-- <h4></h4> -->
      <div class="w3agile_blog_left_grid_sub1_pos">
        <img src="../../assets/images/quote.png" alt=" " class="img-responsive quote"/>
        <p>{{post.subtitle}}</p>
      </div>
    </div>
    <div class="agileits_more agileits_more1">
      <a [href]="'/'+post.postOption.category+'/'+post.postOption.slug" [routerLink]="['/'+post.postOption.category+'/'+post.postOption.slug]" class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s" data-text="Đọc thêm"><span>Đọc thêm</span></a>
    </div>
  </section>
</article>